<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.bc.hadoop.ide.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.bc.hadoop.ide.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="org.bc.hadoop.ide.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Project Nature commands"
            id="org.bc.hadoop.ide.sampleNature.category">
      </category>
      <command
            name="Add/RemoveSample Project Nature"
            defaultHandler="org.bc.hadoop.ide.builder.AddRemoveSampleNatureHandler"
            categoryId="org.bc.hadoop.ide.sampleNature.category"
            id="org.bc.hadoop.ide.addRemoveSampleNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.bc.hadoop.ide.addRemoveSampleNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="org.bc.hadoop.ide.sampleNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.bc.hadoop.ide.addRemoveSampleNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="org.bc.hadoop.ide.sampleNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
<extension
         point="org.eclipse.jdt.launching.vmConnectors">
      
      <vmConnector
            class="org.bc.eclipse.hadoop.debug.AllowRetrySocketListenConnector"
            id="org.bc.eclipse.hadoop.debug.launching.AllowRetrySocketListenConnector"
            name="java retry debug connector">
      </vmConnector>
   </extension>
</plugin>
