<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.bc.hadoop.ide.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
 
 -->
    <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">

      <launchConfigurationTypeImage
            icon="icons/full/etool16/java_attach.gif"
            configTypeID="org.bc.eclipse.hadoop.debug.launching.RemoteJavaApplicationTabGroup"
            id="org.bc.eclipse.hadoop.debug.launching.RemoteHadoopApp">
      </launchConfigurationTypeImage>

   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      
      <launchConfigurationTabGroup
            type="org.bc.eclipse.hadoop.debug.launching.RemoteJavaApplicationTabGroup"
            description="Hadoop java debug connection listener"
           
            class="org.bc.eclipse.hadoop.debug.RemoteJavaApplicationTabGroup"
            id="org.bc.eclipse.hadoop.debug.launching.launchConfigurationTabGroup.remoteJavaApplication">
      </launchConfigurationTabGroup>
      
   </extension>
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
    
      <launchConfigurationType
            delegate="org.eclipse.jdt.internal.launching.JavaRemoteApplicationLaunchConfigurationDelegate"
            delegateDescription="hadoop java app"
            delegateName="hadoop java app delegate"
            id="org.bc.eclipse.hadoop.debug.launching.RemoteJavaApplicationTabGroup"
            migrationDelegate="org.eclipse.jdt.internal.launching.JavaMigrationDelegate"
            modes="debug"
            name="hadoop java app"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
     
   </extension>
<extension
         point="org.eclipse.jdt.launching.vmConnectors">
      
      <vmConnector
            class="org.bc.eclipse.hadoop.debug.AllowRetrySocketListenConnector"
            id="org.bc.eclipse.hadoop.debug.launching.AllowRetrySocketListenConnector"
            name="java retry debug connector">
      </vmConnector>
   </extension>
</plugin>
